<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Netsi" connectionString="Server=127.0.0.1;Port=3306;Database=netsi;Uid=root;Pwd=C@rmel1844;"/>
    <add name ="TrialDb" connectionString="Server=127.0.0.1;Port=3306;Database=trialdb;Uid=root;Pwd=QWERTY!234uiop;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>